.about_section {
  padding: 15rem 0;
}

.about_container {
  margin: auto;
  max-width: 107rem;
  padding: 0 8rem;
}

.about_content {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
}

.content_img {
  position: relative;
}

.about_img {
  border-radius: 1.7rem;
  height: 25rem;
  width: 30rem;
}

.content_text {
  padding-right: 1.5rem;
}

.content_text h2 {
  color: #193aa7;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-family: 'Courier New', Courier, monospace;
}

.content_text h3 {
  color: #2d2e32;
  font-family: Poppins,sans-serif;
  font-size: 2.5rem;
  line-height: 1.4;
  margin-bottom: 2rem;
}

.content_text p {
  color: #767676;
  font-family: Mulish,sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.5;
}

@media screen and (max-width: 1250px) {
  .about_section {
    padding: 5rem 0;
  }

  .about_content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .content_img img {
    height: auto;
    width: 90%;
    margin-bottom: 3.5rem;
  }

  .content_text {
    margin: 0 auto;
    max-width: 54rem;
  }

  .content_text h2 {
    font-size: 1.5rem;
  }

  .content_text h3 {
    font-size: 1.3rem;
  }

  .content_text p {
    font-size: 1.3rem;
    text-align: justify;
    min-width: 15rem;
}
}