@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Saira:wght@700;900&display=swap');

.home_section {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}

.container {
  margin: 0 auto;
  max-width: 107rem;
  padding: 0 4rem;
}

.content {
  align-items: center;
  display: flex;
  gap: 10rem;
  height: 55rem;
  justify-content: center;
  position: relative;
}

.home_main {
  align-items: center;
  display: flex;
  gap: 10rem;
  justify-content: center;
  position: relative;
}

.home_text {
  display: flex;
  flex-direction: column;
  max-width: 40rem;
  position: relative;
}

.home_text h1 {
  font-family: 'Saira', sans-serif;
  font-weight: 700;
  color: #2d2e32;
  font-size: 4.6rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.home_text p {
  color: #555;
  border-top: 1px solid rgba(45,46,50,.5);
  font-family: 'Raleway', sans-serif;
  font-size: 1.7rem;
  font-weight: 500;
  line-height: 1.6;
}

.home_text span {
  cursor: pointer;
  display: flex;
  gap: 1.3rem;
  margin: 2.5rem 0;
}

.home_text a {
  color: #2d2e32;
  font-size: 3rem;
}

.home_img img {
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  border-radius: 50%;
  width: 25rem;
}

.skills {
  align-items: center;
  bottom: 0;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  position: absolute;
  margin-bottom: 2rem;
}

.skills h2 {
  border-right: 2px solid rgba(45,46,50,.5);
  color: #2d2e32;
  font-family: Mulish,sans-serif;
  font-weight: 600;
  margin-right: 7rem;
  padding-right: 2rem;
}

.skills ul {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  list-style: none;
}

.skills ul li {
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  cursor: pointer;
  display: flex;
  height: 4.3rem;
  justify-content: center;
  width: 4.3rem;
}

.skills ul li i {
  align-self: self-end;
  color: #2d2e32;
  font-size: 3rem;
}

.html_logo:hover {
  color: #E54C21;
}

.css_logo:hover {
  color: #2965f1;
}

.js_logo:hover {
  color: #F0DB4F;
}

.react_logo:hover {
  color: #61DBFB;
}

.node_logo:hover {
  color: #68A063;
}

.git_logo:hover {
  color: #F05032;
}

.tail_logo:hover {
  color: #38BDF8;
}

.mongo_logo:hover {
  color: #00684A;
}

.java_logo:hover {
  color: #F89B24;
}

.python_logo:hover {
  color: #3B74A2;
}

@media screen and (max-width: 1250px) {

  .home_section{
    text-align: center;
  }

  .container {
    display: flex;
  }

  .content {
    align-items: center;
  }

  .home_main {
    flex-direction: column-reverse;
    gap: 1rem;
    max-width: 70%;
  }

  .home_img img{
    width: 50%;
    justify-content: center;
    margin: auto;
  }

  .home_text h1 {
    font-size: 2.5rem;
  }

  .home_text p {
    font-size: 1rem;
  }

  .home_text span {
    justify-content: center;
  }

  .skills {
    gap: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .skills h2 {
    font-size: 1.5rem;
    border-bottom: 2px solid rgba(45,46,50,.5);
    border-right: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: auto;
  }

  .skills ul li {
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.09);
    cursor: pointer;
    display: flex;
    height: 2rem;
    justify-content: center;
    width: 2rem;
  }

}