#projects {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
  width: 100%;
}

.container_projects {
  margin: 0 auto;
  max-width: 100rem;
  padding: 5rem 0;
}

.title_main {
  align-items: center;
  color: #767676;
  display: flex;
  font-size: 1.7rem;
  position: relative;
  margin-left: 20px;
  text-align: center;
}

.projects_title {
  text-align: center;
  color: #193aa7;
  font-size: 1.7rem;
  font-weight: 700;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.content_projects {
  height: 500px;
  cursor: grab;
  overflow: hidden;
}

.projects_img{
  display: flex;
}

.itens {
  min-height: 200px;
  min-width: 400px;
  padding: 14px;
}

.itens img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  pointer-events: none;
}

.project_title {
  font-family: 'Courier New', Courier, monospace;
  color: #2d2e32;
  text-decoration: none;
  font-size: 1.2rem;
  padding-top: 0.5rem;
}

@media screen and (max-width: 1250px) {

  .container_projects {
    align-items: center;
    justify-content: center;
    margin: auto;
    width: auto;
    max-width: 70%;
  }

  .content_projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
  }

  .title_main {
    margin: auto;
    text-align: center;
    justify-content: center;
  }

  .title_main h2 {
    font-size: 1.5rem;
  }

  .projects_img {
    width: 100%;
  }

  .itens {
    width: 100%;
    min-width: fit-content;
  }

  .itens img{
    width: 80%;
    gap: 0.8rem;
  }
}
