.navbar {
  align-items: center;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,.09);
  display: flex;
  font-size: 1.3rem;
  height: auto;
  justify-content: space-between;
  left: 0;
  padding: 25px 40px 25px 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 200;
}

.navbar h3 {
  font-family: 'Courier New', Courier, monospace;
  color: #2d2e32;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 2rem;
  list-style: none;
}
.navbar li {
  cursor: pointer;
  margin: 0 10px;
}

.navbar a {
  color: #2d2e32;
  font-weight: 600;
  text-decoration: none;
  transition: all .3s;
}

.navbar a:hover {
  color: rgb(69, 233, 211);
}
